/*fonts-css-*/

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');   
    font-weight: normal;
  	font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Light';
  src: url('../fonts/Poppins-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
/*end-css----------*/

body {
	margin:0;
	padding:0;
	font-family: 'Poppins-Regular';
	background-color: #f8f9fa;
}

/*common-css-------*/
h2 {
	font-size: 48px;
	line-height: 72px;
	font-weight: normal;
	font-family: 'Poppins-Medium';
}
h3 {
	font-size: 36px;
	line-height: 54px;
	font-weight: normal;
}
h4 {
	font-size: 32px;
	line-height: 48px;
	font-weight: normal;
}
h5 {
	font-size: 24px;
	line-height: 36px;
	font-weight: normal;
}
h6 {
	font-size: 20px;
	line-height: 30px;
	font-weight: normal;
}
p {
	font-size: 16px;
	line-height: 32px;
	font-weight: normal;
	color: #6C757D;
}
section {
	padding: 60px 0;
}
.btn {
	border: 1px solid;
	border-radius: 32px;
	font-size: 16px;
	line-height: 24px;
	padding: 15px 30px;
}
.btn-primary {
	background: #004E7D;
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
	background-color: transparent;
	color: #004E7D;
}
.btn-secondary {
	background-color: #fff;
	border-color: #fff;
	color: #000;
	transition: all 0.3s ease-in-out;
}
.btn-secondary:hover {
	background-color: transparent;
	border-color: #fff;
}
.btn-transperent {
	background: rgba(255, 255, 255, 0.12);
	color: #fff;
}
/*end-css--*/

/*heaer-css-*/
header {
	border-bottom: 1px solid #a9a9a9;
	position: absolute;
	width: 100%;
	z-index: 1;
}
header .top-head {
	border-bottom: 1px solid #a9a9a9;
	padding-right: 15px;
}
header .top-head li .cool-link {
	font-size: 12px;
	line-height: 18px;
	padding: 10px 16px;
}
header #collapsibleNavbar {
	padding-right: 25px;
}
header .main-menu {
	border-left: 1px solid #a9a9a9;
}
header ul li .cool-link {
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Poppins-Medium';
	display: table;
}
header ul li .submenu{
	background: #FFFFFF;
	box-shadow: 0px 4px 34px rgba(27, 63, 148, 0.1);
	padding: 0;
	position: absolute;
	min-width: 150px;
	top: 80px;
	z-index: 9;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
header ul li .submenu li a {
	color: #333;
}
header ul li .submenu li {
	list-style: none;
}
header ul li .submenu li .creat{
	color: #140606;
}
header .navbar ul li .creat {
	position: absolute;
	right: 5px;
	top: 12px;
	cursor: pointer;
	font-size: 12px;
	color: #ffffff;
}
.header-top-bg{
	background-color: #471d04;
	position: fixed;
}
.layout-content{
	position: relative;
    top: 126px;
	margin-bottom: 165px;
}
header ul li a:hover {
	color: #fff;
}
header .navbar-brand {
	margin: 20px 60px;
	padding: 0 0 0 15px;
	display: flex;
	align-items: center;
	height: 100%;
}
.navbar-brand span {
	color: #c79c60;
	font-size: 30px;
}
.banner-img {
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	width: 100%;
	position: relative;
}
.banner-img:before {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.banner-img h2,
.banner-img h4 {
	font-family: 'Poppins-Bold';
	position: relative;
}
.banner-img h2 {
	margin-top: 130px;
	max-width: 500px;
}
.banner-img h4 {
	margin-top: 150px;
	position: relative;
}
.banner-img .vision{
	margin-top: 64px;
}
.banner-img .btn {
	margin-bottom: 64px;
	position: relative;
	margin-right: 20px;
}

.banner-img h5,
.banner-img p {
	position: relative;
	color: #fff;
}
.banner-img .left-border {
	border-left: 1px solid #fff;
	padding: 125px 50px;
}
.banner-img #top-slider {
	height: 100%;
}
.item {
	padding: 12px;
	background: white;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.navbar-nav .is-active::after,
.cool-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #c79c60;
	transition: width .3s;
}
.navbar-nav .is-active::after,
.cool-link:hover::after {
	width: 100%;
	transition: width .3s;
}



/*footer-css-*/
footer .top-footer {
	background: #471D04;;
	padding: 32px 64px;
	border-radius: 20px 20px 0 0;
}
footer .top-footer ul li {
	list-style: none;
}
footer .top-footer ul li a {
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	margin: 0 15px;
	font-family: 'Poppins-Medium';
	text-decoration: none;
}
footer .bottom-footer span {
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	border-right: 1px solid #2D6F9C;
	padding: 0 8px;
}
footer .bottom-footer span:last-child {
	padding-right: 0;
	border-right: 0;
}
footer .bottom-footer {
	background-color:#471D04;
	color: #fff;
	padding: 35px 64px;
	border-radius: 0 0 20px 20px;
}
footer .bottom-footer a {
	color: #fff;
	margin-left: 20px;
}

/*media-query-start------*/
@media(min-width:992px) {
	header .navbar ul li:hover > .submenu {
		visibility: visible;
		top: 100%;
		opacity: 1;
	}
}

@media(max-width:1366px){
	header ul li a {
		padding: 10px 20px;
	}
}
@media(max-width:1199px) {
	header ul li a {
		font-size: 13px;
		padding: 10px 12px;
	}
	header .navbar ul li .creat {
		font-size: 10px;
		top: 13px;
		right: 0;
	}
}
@media(max-width:767px){
	.carousel-control-next, .carousel-control-prev{
		bottom: 63px !important;
		top: inherit !important;
	}

	section {
		padding: 40px 0;
	}
	h2 {
  		font-size: 36px;
  		line-height: 48px;
	}
	header ul li a {
		font-size: 14px;
		padding: 10px;
	}
	header .navbar-toggler {
		float: right;
		margin-right: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	header .navbar-toggler:focus{
		box-shadow: none;
	}
	header .main-menu {
		border-left: none;
	}
	header #collapsibleNavbar {
		padding: 0 15px;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		background-color: rgba(0,0,0,0.7);
	}
	header .navbar ul li .creat {
		right: 0;
		width: 40px;
		height: 40px;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	header ul .creat.rotate {
		transform: rotate(180deg);
	}
	header ul li .submenu.open-menu {
		position: relative;
		visibility: visible;
		opacity: 1;
		top: 0;
		border: none;
	}
	header .navbar-brand {
		padding: 5px 0px;
		margin: 0;
	}
	.banner-img h2 {
		margin-top: 100px;
	}
	.banner-img .vision {
		margin-top: 30px;
	}
	.banner-img .btn {
  		margin-top: 25px;
	}
	.banner-img .conatiner {
		max-width: 100%;
	}
	footer .top-footer,
	footer .bottom-footer {
		padding: 32px 30px;
	}
}
@media(min-width:768px) {
	.banner-img .controls {
		position: absolute;
		background-color: #c79c60;
		color: white !important;
		bottom: 0;
		display: flex;
		width: 132px;
		justify-content: space-between;
		padding: 12px 12px;
		/* border-radius: 10px; */
	}
	.banner-img .controls button {
		width: 25px;
		position: relative;
	}
}
@media(max-width:767px) {
	h3 {
	  font-size: 28px;
	  line-height: 40px;
	}
	section {
		padding: 30px 0;
	}
	header .navbar-toggler {
		margin-right: 0;
	}
	header .navbar-brand {
		padding-left: 0;
	}
	.banner-img .left-border {
		border-left: none;
		padding: 0 15px;
	}
	.banner-img h4 {
		margin-top: 60px;
		position: relative;
	}
	footer .bottom-footer span {
		display: block;
		border: none;
		margin: 10px 0;
		padding: 0;
	}
	footer .bottom-footer a {
		margin:0 15px 0 0;
	}
	footer .top-footer, footer .bottom-footer {
		padding: 32px 0;
		text-align: center;
	}
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-full {
	min-width: 100%;
}
.layout-container .header-top-bg {
  position: absolute;
  right: 10px;
}