<footer>
  <div class="top-footer text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          {% if show_footer_logo %}
            <img src="{{ footer_logo }}" alt="logo">
          {% endif %}
          {% if page.footer %}
            {{ page.footer }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-8 col-md-10">
        {% if show_copyright %}
          {{ copyright_text }}<span id="displayYear">{{'now'|date('Y')}}</span>
        {% endif %}
        </div>
        <div class="col-xl-4 col-md-2">
        {% if show_social_links %}
          <div class="icons d-md-flex justify-content-end"> 
            {% if facebook %}
              <a href="{{ facebook }}"><i class="fa-brands fa-facebook"></i></a>
            {% endif %}
            {% if instagram %} 
              <a href="{{ instagram }}"><i class="fa-brands fa-instagram"></i></a>
            {% endif %}
            {% if twitter %}
              <a href="{{ twitter }}"><i class="fa-brands fa-x-twitter"></i></a>
            {% endif %}
            {% if linkedin %}
              <a href="{{ linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
            {% endif %}   
          </div>
        {% endif %}   
        </div>
      </div>
    </div>
  </div>
</footer>