<header {% if header_bg %} class = "header-top-bg" {% endif %} role="banner">
  <nav class="navbar navbar-expand-lg navbar-dark p-0">
    <div class="container-fluid p-0">
      <div class="row w-100 m-0">
        <div class="col-6">
          {% if page.header %}
            {{ page.header }}
          {% endif %} 
        </div>
        <div class="col-6 pe-md-0 ps-md-0 main-menu">
          <div class="top-head d-none d-lg-block">
            {% if page.primary_menu %}
              {{ page.primary_menu }}
            {% endif %}  
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            {% if page.primary_menu %}
              {{ page.secondary_menu }}
            {% endif %}   
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>