{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}


{% include '@beans_bytes/templates/include/header.html.twig' %}

<section class="banner-img p-0" {% if show_banner_content %} style="background-image: url({{ banner_image }});" {% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
       <!-- Start: Slider Section -->
        {% if show_slideshow %}
          <div id="top-slider" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for slider_contents in slider_content %}
                  <div class="carousel-item{% if loop.first %} active{% endif %}">
                    {{ slider_contents | raw }}
                  </div>
                {% endfor %}
              </div>
            <!-- Left and right controls/icons -->
            <div class="controls">
              <button class="carousel-control-prev" type="button" data-bs-target="#top-slider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#top-slider" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>
        {% endif %}  
      <!-- End: Slider Section -->
      </div>
      {% if show_banner_content %}
      <div class="col-md-6 left-border">
        <h4>{{ banner_title }}</h4>
        <div class="vision">
          <p>{{ banner_description }}</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<div class="container">
  {{ page.content }}
</div>
{% include '@beans_bytes/templates/include/footer.html.twig' %}
